<h1>VIDEOJUEGOS DIGITALES PC, PS5, XBOX</h1>
<div id="products">
  {{#each products}}
    <div class="product-card">
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
      <button data-id="{{this._id}}" class="add-to-cart">Agregar al carrito</button>
    </div>
  {{/each}}
</div>
<script src="/js/Cart.js"></script>