<!DOCTYPE html>
<html>
<head>
    <title>Productos en Tiempo Real</title>
    <script src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
        <li id="product-{{this.id}}">{{this.name}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script>
        var socket = io();
        socket.on('productCreated', function(product){
            var li = document.createElement('li');
            li.id = 'product-' + product.id;
            li.innerText = product.name + ' - ' + product.price;
            document.getElementById('productList').appendChild(li);
        });

        socket.on('productDeleted', function(productId){
            var li = document.getElementById('product-' + productId);
            li.parentNode.removeChild(li);
        });
    </script>
</body>
</html>
