<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <form action="/register" method="post">
    <label for="email">Correo electrónico:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Registrarse">
  </form>
</body>
</html>
