<h1>Productos</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <!-- M치s columnas para m치s campos de producto -->
        <th></th>
    </tr>
    {{#each products}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <!-- M치s celdas para m치s campos de producto -->
        <td><a href="/products/{{this._id}}">Ver Detalles</a></td>
    </tr>
    {{/each}}
</table>
